<h3 class="text-white">LOGIN</h3>
<form class="text-white" [formGroup]="myForm" (ngSubmit)="onSubmit()">
<label for="name">Tài Khoản: </label>
<input id="name" type="text" formControlName="name">
<div style="color:red" *ngIf="myForm.get('name')?.invalid && (myForm.get('name')?.dirty || myForm.get('name')?.touched)">
Vui lòng nhập tài khoản
</div> <br>
<label for="password">Mật Khẩu: </label>
<input id="password" type="password" formControlName="password">
<div style="color:red" *ngIf="myForm.get('password')?.invalid && (myForm.get('password')?.dirty || myForm.get('password')?.touched)">
<span *ngIf="myForm.get('password')?.errors?.['required']">Vui lòng nhập password</span>
<!-- <span *ngIf="myForm.get('password')?.errors?.['password']">Vui lòng nhập đúng định dạng password</span> -->
</div> <br>
<button class="text-white" type="submit" [disabled]="myForm.invalid">Submit</button>
</form>


